{%extends 'common/base.html'%}
{%block title%} INICIO {%endblock title%}
{%load static%}
{% load humanize %}

{%block content%}

<div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Todas mis compras</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Buscar">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Nombre</th>
                      <th>Direccion de envio</th>
                      <th>Total</th>
                      <th>Detalles</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for d in data%}
                    <tr>
                      <td>#{{d.pk}}</td>
                      <td>{{d.user_creation.first_name}} {{d.user_creation.last_name}}</td>
                      <td>{{d.address_ship}}</td>
                      <td><span class="tag tag-success">Q{{d.total|intcomma:False}}</span></td>
                      <td><a href="#">Ver mas</a></td>
                    </tr>
                    {% endfor %}

                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
</div>
{%endblock content%}


{%block plugin%}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
{% block script %}
{% include "common/messages.html" %}
{% endblock %}
{%endblock plugin%}
